[Unit]
Description=uWSGI instance to serve Easy OpenVPN
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=REPO_DIR
Environment="PATH=VIRTUAL_ENV/bin"
ExecStart=VIRTUAL_ENV/bin/uwsgi --ini easy_openvpn.ini
Environment=FLASK_APP=website.py

[Install]
WantedBy=multi-user.target

